# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dynamically created
node_modules
dist
*.local
.tmp

# Garbage
.DS_Store
.directory

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test files
coverage
cypress/videos
cypress/screenshots
cypress/reports
e2e/videos
e2e/screenshots
e2e/reports
reports
.nyc_output

# Yarn is used for local development but not versioned, you should create your own
.yarnrc.yml

# yarn 2
.pnp.*
.yarn
