# Dynamically created
node_modules/
dist/
package-lock.json
yarn.lock
.yarnrc.yml
.yarn

# Workspace files
/coverage/
.idea/

# Garbage
.DS_Store
yarn-error.log
npm-debug.log
debug.log
.directory
/playwright-report/
/playwright/.cache/
