# Dynamically created
node_modules/
dist/

# Workspace files
coverage
coverage.data
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Garbage
.DS_Store
yarn*.log
npm-debug.log
npm-debug.log*
debug.log
.directory
